<h1>Posts</h1>
<spinner [visible]="isLoading"></spinner>
<div class="row">
  <div class="col-sm-6">
    <ul *ngIf="!isLoading" class="list-group posts">
      <li
        class="list-group-item"
        *ngFor="#post of posts"
        (click)="displayPost(post)"
        [class.active]="currentPost == post"
        >
        {{ post.title }}
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default" *ngIf="currentPost">
      <div class="panel-heading">
        <h3 class="panel-title">{{ currentPost.title }}</h3>
      </div>
      <div class="panel-body">
        {{ currentPost.body }}
      </div>
    </div>
  </div>
</div>
