<h1>Users</h1>
<p><a class="btn btn-primary" [routerLink]="['UserForm']">Add User</a></p>
<span *ngIf="isLoading">Loading...</span>
<table class="table table-bordered" *ngIf="!isLoading">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="#user of users">
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>
      <a [routerLink]="['EditForm', {id: user.id}]">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
    </td>
    <td>
      <i (click)="deleteUser(user)" class="glyphicon glyphicon-remove clickable"></i>
    </td>
  </tr>
</table>
